{%extends 'user/home_layout.html'%}
{%block content%}
<div class="content px-3 py-3 bg-white">
        
    <div class="row">
        <form id="myform">
        <div class="col">
            {{cform.email.label}}
            {{cform.email(class_='form-control border-success')}}
        </div>
        <div class="col">
            <label class="text-danger"> This Field Is Required</label>
            {{cform.csrf_token}}
            {{cform.btnsubmit(class_='btn btn-danger noround')}}
        </div>
        </form>
    </div>
    <div id="response"></div>
</div>

{% endblock %}

{%block customjs%}
<script type="text/javascript">
    $(document).ready(function(){
        $('#btnsubmit').click(function(event){
            event.preventDefault()
            var myform = document.getElementById('myform')
            var data2send=$('#myform').serialize() //new FormData(myform)
            $.ajax({
                url:"/ajaxopt/",
                type:"post",
                data:data2send,
                error:function(errmsg){
                    console.log(errmsg)
                },
                success:function(serverRsp){
                    $('#response').text(serverRsp)
                    $('#response').addClass('alert alert-info')

                },
                complete:function(){
                    $('#btnsubmit').val('subscribe')
                },
                beforeSend:function(){
                    $('#btnsubmit').val('Please Wait...')
                }

            })
        })
    })
</script>
{%endblock%}